<h2>
  <%= fg.object.class.model_name.human %>
</h2>

<div>
  <%= fg.hidden_field :type, value: "Mystery" %>
</div>

<div>
  <%= fg.number_field :scare_level %>
</div>

<div>
  <%= fg.text_field :age_restriction %>
</div>

<div>
  <%= fg.text_field :puzzle_difficulty %>
</div>
